# 과제1 : 파이썬 기초(1)
## 자료형/제어문(if)
### 제출기한 : 9월 20일 금요일 18:59까지

### 1. 변수 s와 t에는 각각 문자열이 바인딩 되어있다. 두 변수를 이용하여 아래와 같이 출력하라.

In [38]:
s = "hello"
t = "python"

실행 예:
hello! python

In [39]:
print(s+'! '+t)

hello! python

### 2. 아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하라

In [40]:
phone_number = "010-1111-2222"

실행 예 : 010 1111 2222

In [41]:
phone_number.replace('-', ' ')

'010 1111 2222'

### 3. movie_rank 리스트에 "배트맨"을 추가하라.

In [42]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]

In [43]:
movie_rank.append("배트맨")

In [44]:
movie_rank

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

### 4. 다음 리스트의 평균을 출력하라.

In [45]:
nums = [1, 2, 3, 4, 5]

In [46]:
sum(nums)/len(nums)

3.0

In [47]:
import statistics 

nums = [1, 2, 3, 4, 5]

statistics.mean(nums)

3

### 5. 숫자 1 이 저장된 my_tuple 이라는 튜플을 생성하고, type(my_tuple)로 자료형이 튜플이 맞는지 확인하라.

In [48]:
my_tuple = (1)

In [49]:
type(my_tuple)

int

### 6. inventory 딕셔너리에서 메로나의 가격을 화면에 출력하라.

In [50]:
inventory = {'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [51]:
inventory['메로나'][0]

300

### 7. icecream 딕셔너리에서 아이스크림 판매 금액의 총합을 출력하라.

In [52]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

In [53]:
icecream['탱크보이']+icecream['폴라포']+icecream['빵빠레']+icecream['월드콘']+icecream['메로나']

6700

In [54]:
#다른더간단한방법찾아보기 > Value..?

### 8. 아래 코드의 출력 결과를 예상하라

In [55]:
print ((3 == 3) and (4 != 3))  #True

True

### 9. 아래 코드의 출력 결과를 예상하라

In [56]:
if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")
    
#Hi, there.

Hi, there.

### 10. money가 1250 이상이면 "삑", 그렇지 않으면 "잔액이 부족합니다"를 출력하는 if문을 만들어라.

In [57]:
money = 1300

In [58]:
if money >= 1250:
    print("삑")
else:
    print('잔액이 부족합니다')

삑